 

#////////////////////////////////////


# NODE_MAILER_EMAIL=finupsbd@gmail.com
# NODE_MAILER_PASS=nmpt hbnu cjmx clai


# CLOUDINARY_CLOUD_NAME=dtkgeukpu
# CLOUDINARY_API_KEY=326713981225444
# CLOUDINARY_API_SECRET=ujo98FGM5raPLGuWNiyhrEHgTKc


# DATABASE_URL="postgresql://finups_user:Plzletmein123@localhost:5432/finupsbd?schema=public"





 
#AlgorifyLabs         subabase db password






# DATABASE_URL=postgresql://shamimreza:your_password@localhost:5432/finupsbd?schema=public
# DATABASE_URL=postgresql://postgres:zFvJOVHlhpepuGSoBzbnMfHCcEaEHIPB@switchyard.proxy.rlwy.net:59082/railway
# DATABASE_URL="postgresql://postgres.axempyydtnirzaroveaa:finupsBD-backend@aws-0-ap-south-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
# DIRECT_URL="postgresql://postgres.axempyydtnirzaroveaa:finupsBD-backend@aws-0-ap-south-1.pooler.supabase.com:5432/postgres"


# DATABASE_URL="postgresql://postgres.qokdclfpgfosfwslsghd:PRNteWU8bW7oQ9wU@aws-0-ap-south-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
#  DIRECT_URL="postgresql://postgres.qokdclfpgfosfwslsghd:PRNteWU8bW7oQ9wU@aws-0-ap-south-1.pooler.supabase.com:5432/postgres"